@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 100vh;
}

.ado-page-header {
    display: flex;
    height: 10rem;
    width: 30rem;
}

.options-icon {
    display: flex;
    height: 5rem;
    width: 15rem;
}

.go-to-about,
.go-to-OP-page,
.return-to-home {
    display: flex;
    align-items: space-between;
    height: 5rem;
    width: 15rem;
}
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    border-bottom: 2px solid black;
}

.page-header {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    font-size: 40px;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
    border-bottom: 2px solid black;
}
 
.bottom-section {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    padding-bottom: 4rem;
}

.ado-channel {
    display: flex;
    height: 15rem;
    justify-content: center;
    margin: 2rem;
}

.s1,
.s2,
.s3,
.s4,
.s5,
.s6,
.main-closing-text {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    justify-content: center;
    margin: 2rem;
}

.main-text {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}